.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.li {
    float: right;
}

.li a {
    display: block;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 28px 32px;
    text-decoration: none;
}

.li a:hover:not(.active) {
    background-color: #111;
}

textarea {
    vertical-align: top;
    height: 6em;
    resize: vertical;
}

.button {
    padding-left: 80px;
}

button {
    margin-left: .30em;
}

#formatacaoForm {
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

label {
    display: inline-block;
    width: 140px;
    text-align: left;
}