body{
    background-color: #f8f8f8;
    font-family: 'Dosis';
}


#menu{
    width: 100%;
    text-align: right;
    margin-top: 20px;
    float: right;
    margin-right: 50px;
}

a{
    margin-left: 30px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

a:hover{
    border: 0.5px solid #4e1a9a;
    border-radius: 7px;
    padding: 8px;
    margin-left: 20px;
    color: #4e1a9a;
}

input[type=text]{
    border: 0.5px solid #4e1a9a;
    border-radius: 5px;
    width: 500px;
    height: 40px;
    padding-left: 10px;
    font-size: 18px;
    font-family: 'Dosis';
    color: #333;
}


