.caixaform{
    width: 60%;
    height: 270px;
    float: left;
    margin-left: 250px;
    margin-top: 20px;
    padding: 25px;
    padding-left: 40px;
    padding-top: 30px;
    border: 0.2px solid #e4e4e4;
    border-radius: 5px;
    box-shadow: 0px 0px 1em #c8c8c8;
    -webkit-box-shadow: 0px 0px 1em #c8c8c8;
    -moz-box-shadow: 0px 0px 1em #c8c8c8;

}

.titulo{
    float: left;
    margin-left: 550px;
    margin-top: 70px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Nunito';
    color: #7B0BF3;
}

.campo{
    border: 0.5px solid #c8c8c8;
    border-radius: 2px;
    box-shadow: 0px 0px 2px #c7c7c7;
    height: 30px;
    padding-left: 10px;
    font-size: 12px;
    color: #393834;
    font-family: 'Montserrat';
}

label{
    font-size: 13px;
}



.botao{
    border: 0.5px solid #7B0BF3;
    border-radius: 2px;
    background-color: #7B0BF3;
    color: white;
    font-size: 14px;
    width: 200px;
    height: 30px;
    text-transform: uppercase;
    text-align: center;
    float: left;
    margin-left: 290px;
    margin-top: 20px;
    transition:all 0.3s ease;
}

.botao:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.pop{
  border: 0.5px solid #7B0BF3;
  border-radius: 2px;
  background-color: #7B0BF3;
  color: white;
  font-size: 14px;
  width: 70px;
  height: 30px;
  text-transform: uppercase;
  text-align: center;
  float: left;
  margin-left: 5px;
  transition:all 0.3s ease;
}

.pop:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);

}

/* Configuração dos radios */

.group {
  display: flex;
  align-items: center;
  float: left;
  margin-left:0px;
}
input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.sexo {
  position: relative;
  margin-right: 1em;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 2;
  cursor: pointer;
  }
.sexo:before{
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.3em;
    left: 0;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #c8c8c8;
    border-radius: .25em;
    z-index: -1;
}

input[type="radio"] + .sexo::before {
  border-radius: 15px;
}
/* Checked */
input[type="radio"]:checked + .sexo {
  padding-left: 1em;
  color: white;
}
input[type="radio"]:checked + .sexo:before {
    top: 0;
    width: 100%;
    height: 2em;
    border-radius: .25em;
    background: #7b0bf3;
  }

/* Transition */
.sexo,
.sexo::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
