#stusuarios {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  #stusuarios td, #stusuarios th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #stusuarios tr:nth-child(even){background-color: #f2f2f2;}

  #stusuarios tr:hover {background-color: #ddd;}

  #stusuarios th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }