<html lang="pt-br">    
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="_css/estilo.css">
        <title>Pagina Inicial</title>        
    </head>
    
    <body> 
    <header>
        <nav><ul class="ul">                
            <li class="li"><a href="MenuFuncionario.html">Menu do Funcionario</a></li>
            <li class="li"><a href="Login.html">Login</a></li>
            <li class="li"><a href="Index.html">Home</a></li>
        </ul></nav>
    </header> 
    <div>
        <form action="#" method="post">
      
            <label>Livro: </label>
            <input type="text" id="nomeLivro" name="nomeLivro" required><br> 
            
            <label>Autor: </label>
            <input type="text" id="autor" name="autor" required><br>
            
            <label>Gênero:</label>
            <input type="text" id="genero" name="genero" required><br>
            
            <label>Editora: </label>
            <input type="text" id="editora" name="editora" required><br>
       
            <label>Ano de Publicação: </label>
            <input type="date" id="AnoPublicacao" name="AnoPublicacao"><br>
        
            <label>Estado do livro: </label>
            <input type="text" id="cidade" name="cidade" required><br>
            
            <label>Edição: </label>
            <input type="text" id="edicao" name="edicao" required><br>
            
            <button type="submit" name="submit">Enviar</button>
   
        </form>
    </div>    
             
    </body>
</html>
        